.text-black {
	color: var(--black);
}
.text-darkest {
	color: var(--darkest);
}
.text-darker {
	color: var(--darker);
}
.text-dark {
	color: var(--dark);
}
.text-mid {
	color: var(--mid);
}
.text-light {
	color: var(--light);
}
.text-lighter {
	color: var(--lighter);
}
.text-lightest {
	color: var(--lightest);
}
.text-lightest2x {
	color: var(--lightest2x);
}
.text-lightest3x {
	color: var(--lightest3x);
}
.text-lightest4x {
	color: var(--lightest4x);
}
.text-white {
	color: var(--white);
}

	.textcolor-black {
		@apply text-black;
	}
	.textcolor-darkest {
		@apply text-darkest;
	}
	.textcolor-darker {
		@apply text-darker;
	}
	.textcolor-dark {
		@apply text-dark;
	}
	.textcolor-mid {
		@apply text-mid;
	}
	.textcolor-light {
		@apply text-light;
	}
	.textcolor-lighter {
		@apply text-lighter;
	}
	.textcolor-lightest {
		@apply text-lightest;
	}
	.textcolor-lightest2x {
		@apply text-lightest2x;
	}
	.textcolor-lightest3x {
		@apply text-lightest3x;
	}
	.textcolor-lightest4x {
		@apply text-lightest4x;
	}
	.textcolor-white {
		@apply text-white;
	}

.bg-main {
	background-color: var(--main);
}

.bg-black {
	background-color: var(--black);
}
.bg-darkest {
	background-color: var(--darkest);
}
.bg-darker {
	background-color: var(--darker);
}
.bg-dark {
	background-color: var(--dark);
}
.bg-mid {
	background-color: var(--mid);
}
.bg-light {
	background-color: var(--light);
}
.bg-lighter {
	background-color: var(--lighter);
}
.bg-lightest {
	background-color: var(--lightest);
}
.bg-lightest2x {
	background-color: var(--lightest2x);
}
.bg-lightest3x {
	background-color: var(--lightest3x);
}
.bg-lightest4x {
	background-color: var(--lightest4x);
}
.bg-white {
	background-color: var(--white);
}

	.background-main {
		@apply bg-main;
	}
	.background-black {
		@apply bg-black;
	}
	.background-darkest {
		@apply bg-darkest;
	}
	.background-darker {
		@apply bg-darker;
	}
	.background-dark {
		@apply bg-dark;
	}
	.background-mid {
		@apply bg-mid;
	}
	.background-light {
		@apply bg-light;
	}
	.background-lighter {
		@apply bg-lighter;
	}
	.background-lightest {
		@apply bg-lightest;
	}
	.background-lightest2x {
		@apply bg-lightest2x;
	}
	.background-lightest3x {
		@apply bg-lightest3x;
	}
	.background-lightest4x {
		@apply bg-lightest4x;
	}
	.background-white {
		@apply bg-white;
	}