h1 {
	@apply text-h1;
}
h2 {
	@apply text-h2;
}
h3 {
	@apply text-h3;
}
h4 {
	@apply text-h4;
}
h5 {
	@apply text-h5;
}
h6 {
	@apply text-h6;
}

.textsize-meta {
	@apply text-meta;
}
.textsize-reference {
	@apply text-reference;
}
.textsize-intro {
	@apply text-intro mb-intro;
}

.textsize-tiny,
body .has-tiny-font-size {
	@apply text-tiny;
}
.textsize-smaller,
body .has-smaller-font-size {
	@apply text-smaller;
}
.textsize-small,
body .has-small-font-size {
	@apply text-small
}
.textsize-base,
body .has-base-font-size {
	@apply text-base;
}
.textsize-main,
body .has-main-font-size {
	@apply text-main;
}
.textsize-medium,
body .has-medium-font-size {
	@apply text-medium;
}
.textsize-medium2x,
body .has-medium-2-x-font-size {
	@apply text-medium2x;
}
.textsize-large,
body .has-large-font-size {
	@apply text-large;
}
.textsize-larger,
body .has-larger-font-size {
	@apply text-larger;
}
.textsize-larger,
body .has-larger-font-size {
	@apply text-larger;
}
.textsize-largest,
body .has-largest-font-size {
	@apply text-largest;
}
.textsize-huge,
body .has-huge-font-size {
	@apply text-huge;
}
.textsize-huge2x,
body .has-huge-2-x-font-size {
	@apply text-huge2x;
}
.textsize-gigantic,
body .has-gigantic-font-size {
	@apply text-gigantic;
}

.textweight-light {
	font-weight: 300;
}
.textweight-normal {
	font-weight: 400;
}
.textweight-medium {
	font-weight: 500;
}
.textweight-semibold {
	font-weight: 600;
}
.textweight-bold {
	font-weight: 700;
}
.textweight-extrabold {
	font-weight: 800;
}
.textweight-black {
	font-weight: 900;
}

.textstyle-round {
	@apply font-round;
}
.textstyle-hard {
	@apply font-hard;
}
.textstyle-serif {
	@apply font-serif;
}

.section {
	@apply mt-section;
	@apply mb-section;
}
.section-top {
	@apply mt-section;
}
.section-bottom {
	@apply mb-section;
}
.section2 {
	@apply mt-section2;
	@apply mb-section2;
}
.section2-top {
	@apply mt-section2;
}
.section2-bottom {
	@apply mb-section2;
}

.section-line,
body .wp-block-separator {
	@apply border-t-0 border-b border-solid border-b-line;
}

.space-zero {
	@apply m-0;
}
.space-zero-top {
	@apply mt-0;
}
.space-zero-right {
	@apply mr-0;
}
.space-zero-bottom {
	@apply mb-0;
}
.space-zero-left {
	@apply ml-0;
}