.footer-widgets {
	border-top: 1px solid #eee;
	padding: 4rem 2rem;
	clear: both;
}

.footer-widgets > .wrap {
	@apply
		max-w-largewidth 
		mr-auto 
		ml-auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
}
@screen smallscreen {
	.footer-widgets > .wrap {}
}
@screen mediumscreen {
	.footer-widgets > .wrap {
		grid-template-columns: 1fr 1fr;
	}
}
@screen largescreen {
	.footer-widgets > .wrap {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.footer-widgets .wrap:before {
	display: none;
}

.footer-widget-area {}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}