.site-header {
	background-color: #f0f0f0;
	position: relative;
	padding: 1rem 2rem;
}
@media screen(menu) {
	.site-header {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 9999;
	}
	.admin-bar .site-header {
		top: 32px;
	}
}

.site-header > .wrap {
	display: grid;
	grid-template-columns: 1fr;
}

@media screen(menu) {
	.site-header > .wrap {
		grid-template-columns: 2fr 3fr;
		grid-column-gap: 2rem;
		align-items: center;
	}
}