.entry-title {}

.archive-description .entry-title,
.archive-title,
.author-box-title {
	@apply text-main text-medium;
	font-weight: 600;
	margin-bottom: 10px;
}

.entry-title a,
.sidebar .widget-title a {
	@apply text-link;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	@apply text-hover;
}

.widget-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.genesis-title-hidden .site-inner {
	padding-top: 0;
}