.site-header {
	background-color: #f0f0f0;
	padding: 2.5rem 2rem 1rem;
	position: relative;
}
@media screen(menu) {
	.site-header {
		padding: 1rem 2rem;
	}
}

.site-header > .wrap {
	display: grid;
	grid-template-columns: 1fr;
}

@media screen(menu) {
	.site-header > .wrap {
		grid-template-columns: 2fr 3fr;
		grid-column-gap: 2rem;
		align-items: center;
	}
}