:root {
  --main-color: #555555;
  --main-link-color: #666666;
  --main-hover-color: #000000;
  --main-select-color: #444444;

  --link-color: #666666;
  --link-alt-color: #666666;

  --hover-color: #000000;
  --hover-alt-color: #444444;

  --heading-color: #555555;
  --heading-link-color: #777777;
  --heading-hover-color: #555555;

  --meta-color: #999999;
  --meta-link-color: #777777;
  --meta-hover-color: #555555;

  --menu-color: #555555;
  --menu-link-color: #666666;
  --menu-hover-color: #444444;

  --line-color: #555555;

  --black-color: #000000;
  --darkest-color: #0C0C0C;
  --darker-color: #191919;
  --dark-color: #333333;
  --mid3x-color: #444444;
  --mid2x-color: #555555;
  --mid-color: #666666;
  --light-color: #999999;
  --lighter-color: #cccccc;
  --lightest-color: #e5e5e5;
  --lightest2x-color: #efefef;
  --lightest3x-color: #f0f0f0;
  --lightest4x-color: #f9f9f9;
  --white-color: #ffffff;

  --line-borderwidth: 1px;
}